<div class="container-fluid ace-bg-gray h-100">
    <div class="row h-100">
        <div class="col">
            <div class="text-content">
                <h2>Lorem ipsum dolor sit amet</h2>
                <p>Proin mattis orci vitae purus fringilla, ac aliquet tortor commodo. Nam interdum mi porta nisi mollis
                    egestas. Integer finibus nisi turpis, in
                    aliquam purus vehicula sit amet.</p>
                <ul>
                    <li>
                        Nulla et dui orci. Mauris elementum ligula et massa vehicula fermentum.</li>
                    <li> porttitor nec enim sed vestibulum. Maecenas finibus sem odio, a iaculis ipsum luctus at. Duis
                        sit</li>
                    <li>
                        amet tristique lectus, ut molestie felis. Maecenas at sem sagittis, vulputate lacus ut, sagittis
                        augue.
                    </li>
                </ul>
                <h3 class="ace-text-secondary">
                    Integer commodo sodales enim et pharetra.
                </h3>
                <p>
                    Integer eros diam, dignissim id sollicitudin eget, placerat in felis. Nunc tincidunt nunc ut vestibulum porttitor. Curabitur consectetur eleifend cursus. Fusce id
                    erat rutrum, condimentum risus a, tincidunt velit. Vivamus vel diam eget metus vestibulum porta. 
                </p>
                
                
            </div>
        </div>
        <div class="col-6  ace-bg-primary h-100 login-form-section ">

            <div class="login-card ace-bg-light">
                <ace-login-form css-classlist="ace-bg-white"></ace-login-form>
            </div>
            <p class="footer-text ace-text-light">
                Nulla facilisi. Sed commodo tellus nec tempor fermentum. &copy; 2020
            </p>
        </div>
        <!-- <div class="col"></div> -->
    </div>
</div>